@import "css/reset.css"; /*--- Stylesheet Reset ---*/

body {
	width: 1024px;
	font-family:Tahoma;
	margin:0 auto;
	background: url("Assets/background.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-color:#000;
}

/************* MAIN CONTENT ***************/

#topBar{
	background:url("Assets/top_banner.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	height:209px;
}

#topnav{
	background: url("Assets/nav_bar.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	height:43px;
	margin-top:-17px;
}

#topnav nav{
	font-family:Tahoma;
}


#topnav nav  ul {
	list-style:none;
	padding-left:322px;
}

#topnav nav ul li {
	float:left;
	height:43px;
}

#topnav nav ul li a {
	display:block;
	font-size:14px;
	text-align:center;
	text-decoration:none;
	color:#CCC;
	width:71px;
	height:43px;
	padding-top:10px;
	margin-top:1px;
}

#topnav nav ul li a:hover {
	background: url("Assets/nav_button_overlay.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	color:#006;
	text-decoration:none;
}

#topnav nav ul li.selected a {
	color: #888;
}

#content {
	float:left;
	width:850px;
	height:500px;
	padding-bottom:205px;
	margin-top:0px;
	margin-left:50px;
	padding-left:120px;

}

.main {
	padding-top:0px;
	width: 900px;
	margin-top: 50px;
	margin-left:-90px;
	background-image: url("Assets/abt_scroll_box.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	height:800px;
}


article {
	display:block;
	color:#999;
	
	padding-left:25px;
	padding-top:0px;
	padding-bottom:30px;
	padding-right:0px;
	margin-left:10px;
	
	overflow-y: auto;
	overflow-x: auto;
	overflow:auto;
	
	width:750px;
	height:500px;
}

p {

}

.post {
	height:600px;
	width: 700px;
	padding-left:25px;
	padding-top:40px;
}

#footer {
	height:175px;
	width:1024px;
	margin-top:-4px;
	background-image: url("Assets/bottom_banner.png");
	background-repeat: no-repeat;
	background-position: top center;
	float:left;
	vertical-align:middle;
	
}

#scplayer{
	margin-top:70px;
}

#Player {
	padding-top:30px;
}