@import "css/reset.css"; /*--- Stylesheet Reset ---*/

body {
	width: 1024px;
	font-family:Tahoma;
	margin:0 auto;
	background: url("Assets/background.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-color:#000;
}

h1 {
	font-size:60px;
	color:#555;
	
	padding-top:0px;
	margin-top:0px;
	margin-bottom:0px;
	
}

h2 {
	background: url("Assets/nav_bar.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	padding-top:0px;
	margin-top:-30px;
	padding-bottom:50px;
}

h3 {
	color:#555;
}

h4 {
	color:#BBB;
	margin-top:-75px;
}

/************* MAIN CONTENT ***************/
#topBar{
	height:209px;
	background:url("Assets/top_banner.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-color:#222;
	background-size:100%;
}

#topnav{
	background-image:linear-gradient(#262626, #737373, #000000);
	display: flex;
	flex-flow: row;
	justify-content: center;
	height:31px
}

.nav-button{
	font-family: Tahoma;
	font-size:14px;
	color:#CCC;
	height:28px;
	border-left: #999 1px solid;
	border-right: #999 1px solid;
	text-align:center;
	text-decoration:none;
	padding-left: 10px;
	padding-right:10px;
	padding-top:3px;
}

.nav-button:hover {
	background: url("Assets/nav_button_overlay.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	color:#006;
	text-decoration:none;
}

#content {
	float:left;
	width:1024px;
	margin-top:40px;
	margin-left:10px;
	padding-left:10px;
	height:750px;
}

.main {
	padding-top:0px;
	width: 1024px;
}

#studioBox{
	float:left;
	width:500px;
}

#studioContent{
	float:left;
	width:500px;
	height:750px;
	background-image: url("Assets/studio_box.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
}

#liveBox{
	float:left;
	width:500px;
}

#liveContent{
	float:left;
	width:500px;
	height:750px;
	background-image: url("Assets/live_box.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;

}

p {
	height:600px;
	width:400px;
	margin-top:80px;
	margin-left:40px;
	overflow-y: auto;
	overflow-x: auto;
	text-overflow:clip;
}

#footer {
	height:175px;
	width:1024px;
	margin-top:-4px;
	background-image: url("Assets/bottom_banner.png");
	background-repeat: no-repeat;
	background-position: top center;
	float:left;
	vertical-align:middle;
}

#scplayer{
	margin-top:70px;
}