@import "css/reset.css"; /*--- Stylesheet Reset ---*/

body {
	
	width: 1024px;
	margin:0 auto;
	background: url("Assets/background.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-color:#000;
}

/************* MAIN CONTENT ***************/

#topBar {
	background:url("Assets/top_banner.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	height:209px;
	margin-bottom:-17px;
	padding-bottom:0px;
}

#topnav{
	background-image:linear-gradient(#262626, #737373, #000000);
	display: flex;
	flex-flow: row;
	justify-content: center;
	height:28px
}

.nav-button{
	font-family: Tahoma;
	font-size:14px;
	color:#CCC;
	height:28px;
	border-left: #999 1px solid;
	border-right: #999 1px solid;
	text-align:center;
	text-decoration:none;
	padding-left: 10px;
	padding-right:10px;
	padding-top:3px;
}

.nav-button:hover {
	background: url("Assets/nav_button_overlay.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	color:#006;
	text-decoration:none;
}


#content {
	float:left;
	width:1024px;
	height:706px;
}

.main {
	align-content: center;
}

.main h1 {
	font-size: 36px;
	font-style: bold;
}


article {
	float:left;
	font-size:24px;
	font-family:Tahoma;
	color:#999;
	padding-top:30px;
	width:670x;
	
	
}

#fbFrame{
	float:left;
	margin-top:65px;
	margin-left:40px;
	width:254px;
	height:175px;
}

#wlFrame{
	float:left;
	padding-left:40px;
	padding-top:50px;
	width:300;
	height:350;
}

ol{
list-style-type:none;
width: 550px;
}

p{
	float:left;
	font-family:Tahoma;
	height:auto;
	width:230px;
	margin-left:5px;
}

.NoUnderline{
	text-decoration:none;
}

#footer {
	height:175px;
	width:1024px;
	background-image: url("Assets/bottom_banner.png");
	background-repeat: no-repeat;
	background-position: top center;
	float:left;
	margin-top:-5px;
}

#scplayer {
	padding-top:70px;
}