@import "css/reset.css"; /*--- Stylesheet Reset ---*/

@font-face {
	font-family: FuturaBook;
	src: url( "Assets/Futura-Book.otf");
}

@font-face {
	font-family: FuturaCondensed;
	src: url( "Assets/Futura-CondensedLight.otf");
}

body {
	width: 1024px;
	font-family:Tahoma;
	margin:0 auto;
	background: url("Assets/background.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-color:#000;
}

/************* MAIN CONTENT ***************/

#topBar{
	background:url("Assets/top_banner.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	height:209px;
}

#topnav{
	background: url("Assets/nav_bar.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	height:43px;
	margin-top:-17px;
}

#topnav nav{
	font-family:Tahoma;
}


#topnav nav  ul {
	list-style:none;
	padding-left:322px;
}

#topnav nav ul li {
	float:left;
	height:43px;
}

#topnav nav ul li a {
	display:block;
	font-size:14px;
	text-align:center;
	text-decoration:none;
	color:#CCC;
	margin-top:1px;
	padding-top:10px;
	height:43px;
	width:71px;
}

#topnav nav ul li a:hover {
	background: url("Assets/nav_button_overlay.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	color:#006;
	text-decoration:none;
}

#topnav nav ul li.selected a {
	color: #888;
}

#content {
	float:left;
	margin-top:40px;
	width:850px;
	height:500px;
	padding-bottom:205px;
	margin-left:50px;
	padding-left:100px;

}

.main {
	padding-top:0px;
	width: 900px;
	margin-top: 20px;
	margin-left:-80px;
	background-image: url("Assets/services.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	height:800px;
}


article {

	padding-left:30px;
	padding-top:30px;
	padding-bottom:30px;
	padding-right:0px;
	width:560px;
}

.topImg{
	margin-left:-20px;
	margin-top:-30px;
}

p {
	height:550px;
	padding-right:20px;
	overflow-y: auto;
	overflow-x: auto;
	text-overflow:clip;
	margin-right: -225px;
}

.post {
	height:550px;
	width: 600px;
}

#bottomlinks {
	height:82px;
	width:1024px;
	background-image: url("Assets/link_bar.png");
	background-repeat: no-repeat;
	background-position: top center;
	float:left;
}

#bottomlinks nav{
	font-family:Tahoma;
}

#bottomlinks nav  ul {
	list-style:none;
	padding-left:10px;
}

#bottomlinks nav ul li {
	float:left;
	height:50px;
	margin-top:20px;
	width:125px;
}

#bottomlinks nav ul li a {
	display:block;
	font-size:14px;
	text-align:center;
	text-decoration:none;
	color:#CCC;
	padding-top:10px;
	height:50px;
}

#bottomlinks nav ul li a:hover {
	color:#000;
	text-decoration:none;
}

#bottomlinks nav ul li.selected a {
	color: #888;
}

#footer {
	height:175px;
	width:1024px;
	background-image: url("Assets/bottom_banner.png");
	background-repeat: no-repeat;
	background-position: top center;
	float:left;
	vertical-align:middle;
	margin-top:-4px;
	
}

#scplayer{
	margin-top:70px;
}

#Player {
	padding-top:30px;
}