@import "css/reset.css"; /*--- Stylesheet Reset ---*/

@font-face {
	font-family: FuturaBook;
	src: url( "Assets/Futura-Book.otf");
}

@font-face {
	font-family: FuturaCondensed;
	src: url( "Assets/Futura-CondensedLight.otf");
}

body {
	width: 1024px;
	font-family:Tahoma;
	margin:0 auto;
	background: url("Assets/background.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-color:#000;
}

/************* MAIN CONTENT ***************/

#topBar{
	background:url("Assets/top_banner.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	height:209px;
}

#topnav{
	background-image:linear-gradient(#262626, #737373, #000000);
	display: flex;
	flex-flow: row;
	justify-content: center;
	height:31px
}

.nav-button{
	font-family: Tahoma;
	font-size:14px;
	color:#CCC;
	height:28px;
	border-left: #999 1px solid;
	border-right: #999 1px solid;
	text-align:center;
	text-decoration:none;
	padding-left: 10px;
	padding-right:10px;
	padding-top:3px;
}

.nav-button:hover {
	background: url("Assets/nav_button_overlay.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	color:#006;
	text-decoration:none;
}


#content {
	float:left;
	margin-top:40px;
	width:850px;
	height:500px;
	padding-bottom:205px;
	margin-left:50px;
	padding-left:100px;

}

.main {
	padding-top:0px;
	width: 900px;
	margin-top: 20px;
	margin-left:-80px;
	background-image: url("Assets/services.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size:100%;
	height:800px;
}


article {

	padding-left:30px;
	padding-top:30px;
	padding-bottom:30px;
	padding-right:0px;
	width:560px;
}

.topImg{
	margin-left:-20px;
	margin-top:-30px;
}

p {
	height:550px;
	padding-right:20px;
	overflow-y: auto;
	overflow-x: auto;
	text-overflow:clip;
	margin-right: -225px;
}

.post {
	height:550px;
	width: 600px;
}

#footer {
	height:175px;
	width:1024px;
	background-image: url("Assets/bottom_banner.png");
	background-repeat: no-repeat;
	background-position: top center;
	float:left;
	vertical-align:middle;
	margin-top:-4px;
	
}

#scplayer{
	margin-top:70px;
}

#Player {
	padding-top:30px;
}